.note {
    color: red;
    font-size: xxx-large;
    text-align: center;
    font-family: "Courier New", serif;
}

.image {
    width: 1080px;
    height: 680px;
}

.container {
    padding-left: 300px;
    padding-right: 300px;
}

.rumi {
    justify-content: space-between;
    display: flex;
}